body{
    background:#f4f6f9;
}

.card{
    border-radius:10px;
}

table{
    background:white;
}

.titulo{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}

.vencido{
    background:#ffcccc !important;
}

.menu-card{
    padding:20px;
}

.menu-card a{
    margin:10px;
}